:root {
    --bgPageColor: #fafafa;
    --bgNavColor: transparent;
    --shadowColor: rgba(0, 0, 0, 0.25);
    --blackShadow: 0px 0px 4px 2px var(--shadowColor);
    --fontColor: #fafafa;
    --appMainColor: #009473;
    --appMainBackColor: #001220;
    --bgFooter: linear-gradient(#00000000, #00000073);
    --bgNav: linear-gradient(#00000073, #00000000);
    --bgHomeColor: var(--appMainColor);
    --bgProjectsColor: var(--appMainBackColor);
    --bgAboutMe: var(--appMainBackColor);
    --bgContact: var(--appMainColor);
    --bgCardColor: rgba(0, 0, 0, 0.315);
    --bgHoverCardColor: rgba(0, 0, 0, 0.678);
    --btnHoverBgColor: #fefefe;
    --btnHoverColor: #474747;
    --paddingHorizontalLarge: 8%;
    --paddingHorizontalMedium: 5%;
    --paddingHorizontalSmall: 3%;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p {
    color: var(--fontColor);
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

h1 {
    font-size: 4rem;
    line-height: 3.7rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--paddingHorizontalLarge);
    transition: 0.5s ease-in-out;
}

.waves {
    min-height: 5rem;
    position: absolute;
    z-index: 0;
}

img {
    width: 100%;
    object-fit: cover;
}

.btn {
    font-size: 1.2em;
    font-weight: 400;
    padding: 5px 1rem;
    border-style: solid;
    border-width: 3px;
    border-color: var(--fontColor);
    background-color: transparent;
    border-radius: 20px;
    color: var(--fontColor);
    transition: all 0.4s ease;
}

.nav__menu .btn {
    border-color: transparent;
    border-radius: 4px;
}

.btn:hover,
.btn.active {
    background-color: var(--fontColor);
    border-color: transparent;
    color: var(--appMainColor);
}

.inactive {
    display: none;
}

.btn.nav__toogle {
    right: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 7px;
    font-size: 30px;
    align-items: center;
}

.btn.nav__toogle i {
    position: absolute;
}

nav {
    width: 100%;
    margin: 0;
    height: 5rem;
    top: 0;
    display: grid;
    place-items: center;
    position: fixed;
    overflow: hidden;
    background: var(--bgNav);
    box-shadow: var(--blackShadow);
    /*box-shadow: var(--blackNavShadow);*/
    backdrop-filter: blur(4px);
    z-index: 5;
}

.container__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.nav__menu a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
}

.nav__logo {
    text-align: left;
}

main {
    width: 100%;
    height: 100vh;
    display: block;
    transition: 0.5s ease-in-out;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container .block {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 8vh;
}

.container__title {
    padding: 8rem 0 3rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .block::-webkit-scrollbar,
main::-webkit-scrollbar {
    display: none;
}

.card {
    padding: 5vh;
    width: 100%;
    min-width: 40%;
    min-height: 60vh;
    border-radius: 12px;
    background-color: var(--bgCardColor);
    /*var(--bgNavColor);*/
    display: flexbox;
    flex-direction: column;
    gap: 3vh;
    overflow-y: hidden;
    text-align: center;
    z-index: 1;
    opacity: 0.5;
    transition: all 0.4s ease;
}

.card:hover {
    opacity: 1;
    border-radius: 2px;
    background-color: var(--bgHoverCardColor);
}

.container p,
.container h1,
.container h2,
.container h3 {
    color: var(--fontColor);
}

header {
    height: calc(100vh - 5rem);
    background-color: var(--bgHomeColor);
    position: relative;
    display: flex;
    place-items: center;
    overflow: hidden;
}

.container__home {
    height: 100%;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
}

.home__left {
    padding-left: 5vw;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}

.home__right {
    position: absolute;
    display: flex;
    align-items: center;
    height: 90%;
    z-index: 0;
}

.home__blob {
    position: absolute;
    top: -70vh;
    opacity: 80%;
}

.blob1 {
    max-width: 600px;
    left: 0;
}

.blob2 {
    left: 10vw;
    max-width: 800px;
}

.container__projects {
    min-height: 100vh;
    background-color: var(--bgProjectsColor);
}

.container__projects .card p {
    padding-top: 4vh;
    text-align: left;
}

.container__aboutme {
    background-color: var(--bgAboutMe);
}

.container__aboutme .block {
    grid-template-columns: repeat(auto-fit, minmax(70vw, 1fr));
    justify-content: center;
    padding-bottom: 6rem;
    gap: 2%;
}


.container__contact {
    min-height: 40vh;
    padding-bottom: 6rem;
    background-color: var(--bgContact);
    justify-content: center;
}

.container__contact .block {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 12px;
}

.btn__contact {
    max-width: max-content;
}


footer {
    width: 100%;
    margin: 0 auto;
    padding: 1vh;
    display: flex;
    justify-content: center;
    background: var(--bgFooter);
    bottom: 0;
    position: fixed;
}

footer p {
    font-size: 0.8em;
    font-weight: 400;
}

nav::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: 5rem;
    width: 100%;
    background: linear-gradient(to top, var(--appMainBackColor), transparent);
    z-index: -10;
}

.home__right::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    height: 20rem;
    width: 100%;
    background: linear-gradient(to top, var(--bgHomeColor), transparent);
    z-index: 2;
}